<template>
  <div class="container-fluid bg-light rounded px-0">
    <input
      v-on:change="imageChanged"
      type="file"
      class="d-none"
      id="photo_input"
      accept="image/jpeg, image/png, image/gif, image/x-icon"
    >
    <div v-if="error" v-cloak class="alert alert-danger">
      {{ error_message }}. Try to upload
      <a
        href="javascript:window.location.reload(true)"
      >another photo</a>. If the error persists, try again later.
    </div>

    <div v-show="status == 'loading'" v-cloak class="screen screen-loading p-20 p-lg-40">
      <div class="loader-cus"></div>
    </div>

    <div v-show="status == 'ready'" v-cloak class="screen screen-ready p-20 p-lg-40">
      <div class="row no-gutters">
        <div class="col-12 d-sm-none">
          <button
            type="button"
            class="js-choose-photo btn btn-outline-dark d-block w-100 mb-3"
          >Upload photo</button>
          <a
            v-bind:href="current_image + '&download=1'"
            download
            class="btn btn-outline-dark d-block mb-3"
          >Save image</a>
        </div>

        <div class="col-12 d-sm-none">
          <div class="d-flex flex-wrap justify-content-between mb-40">
            <button
              v-for="(mode, mode_name) in modes"
              type="button"
              v-bind:key="mode_name"
              class="btn btn-secondary mode-switch-button"
              v-bind:class="{active: active_mode == mode_name}"
              v-on:click="setMode(mode_name)"
            >{{ mode.title }}</button>
          </div>
        </div>

        <div class="col-12 col-sm-6 pr-sm-0 mb-20 mb-sm-0">
          <div class="text-center">
            <div class="d-inline-block position-relative">
              <img v-bind:src="current_image" class="img-fluid rounded" alt>
              <div
                v-for="(mode, mode_name) in modes"
                v-if="mode.items_in_row > 1 && active_mode == mode_name"
                v-cloak
                v-bind:key="mode_name"
                class="collage-frames"
              >
                <div
                  v-for="(color, index) in modes[mode_name].colors"
                  v-bind:key="index"
                  v-bind:class="[
                      'collage-frames-item',
                      (index == 0) ? 'rounded-top-left' : '',
                      (index == mode.items_in_row - 1) ? 'rounded-top-right' : '',
                      (index == mode.items - mode.items_in_row) ? 'rounded-bottom-left' : '',
                      (index == mode.items - 1) ? 'rounded-bottom-right' : '',
                      (index == modes[mode_name].active_color) ? 'active' : '',
                                ]"
                  v-on:click="setModeActiveColor(mode_name, index)"
                  v-bind:style="{width: 100 / mode.items_in_row + '%'}"
                ></div>
              </div>
              <div v-show="image_loading" class="loader-cus"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 pl-sm-20 pl-lg-40 ">
          <div class="d-none d-sm-block mb-20 mb-lg-40">
            <div class="row">
              <div class="col col-lg-7">
                <button
                  type="button"
                  class="js-choose-photo btn btn-outline-dark btn-lg d-block w-100 mb-3"
                >Upload photo</button>
              </div>
              <div class="col col-lg-5">
                <a
                  v-bind:href="current_image + '&download=1'"
                  download
                  class="btn btn-outline-dark btn-lg d-block mb-3"
                >Save image</a>
              </div>
            </div>

            <div class="d-flex flex-wrap justify-content-between">
              <button
                v-for="(mode, mode_name) in modes"
                type="button"
                v-bind:key="mode_name"
                class="btn btn-secondary mode-switch-button"
                v-bind:class="{active: active_mode == mode_name}"
                v-on:click="setMode(mode_name)"
              >{{ mode.title }}</button>
            </div>
          </div>

          <div class="colors-list">
            <div class="colors-list-item-wrapper">
              <div
                class="colors-list-item colors-list-item-default"
                v-bind:class="[(modes[active_mode].colors[modes[active_mode].active_color] == '') ? 'border-primary active': '']"
                v-on:click="setModeColor('')"
              ></div>
            </div>
            <div
              v-for="(color, key) in colors_list"
              v-bind:key="key"
              class="colors-list-item-wrapper"
            >
              <div
                class="colors-list-item colors-list-item-color"
                v-bind:class="[(modes[active_mode].colors[modes[active_mode].active_color] == key) ? 'border-primary active': '']"
                v-on:click="setModeColor(key)"
                v-bind:style="{backgroundColor: color.rgb}"
                v-bind:title="color.title"
                data-toggle="tooltip"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div v-show="image_loading" class="loader-backdrop"></div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

var colors_list = {
  PINK: { title: "Vibrant Pink", rgb: "#dd4663" },
  RED: { title: "Bold Red", rgb: "#cd160b" },
  GINGER: { title: "Coppery Red", rgb: "#cc3d12" },
  DARKGREEN: { title: "Teal Green", rgb: "#0d2d2c" },
  BLUE1: { title: "Caramel Blonde", rgb: "#d78e25" },
  YELLOW1: { title: "Hypnotic Turquoise", rgb: "#30878d" },
  WHITE2: { title: "Ash Grey", rgb: "#a19796" },
  BLUE: { title: "Electric Blue", rgb: "#574162" },
  GREEN: { title: "Seaweed Green", rgb: "#677d25" },
  SUNFLOWER_BLONDE: { title: "Honey Blonde", rgb: "#c3844f" },
  FRENCH_ROAST: { title: "Soft Black", rgb: "#664b3e" },
  MIDNIGHTRUBY: { title: "Dark Chocolate", rgb: "#784949" },
  MEDIUM_ASH_BROWN: { title: "Havana Brown", rgb: "#634a3a" },
  BUTTERSCOTCH: { title: "Medium Brown", rgb: "#895c39" },
  PURPLE2: { title: "Mochaccino Brown", rgb: "#ac6946" },
  SPARKLING_AMBER: { title: "Ice Brown", rgb: "#8f6245" },
  PURPLE1: { title: "Dark Beige", rgb: "#a95a3a" },
  COPPER_SHIMMER: { title: "Hot Toffee", rgb: "#b55f3a" },
  BLONDE: { title: "Champagne Blonde", rgb: "#dbad86" },
  LIGHT_BLONDE: { title: "Sandy Blonde", rgb: "#c79360" },
  PURE_DIAMOND: { title: "Honey Ginger", rgb: "#b1835f" },
  WHITE1: { title: "Moonstone Silver", rgb: "#8f8281" },
  BLOWOUT_BURGUNDY: { title: "Deep Burgundy", rgb: "#814647" },
  RUBY_FUSION: { title: "Mulled Wine", rgb: "#974240" },
  BLONDE1: { title: "Silver Blue", rgb: "#65777f" },
  DARKBLUE: { title: "Juicy Grape", rgb: "#54204a" },
  GRIZZLE: { title: "Ash Green", rgb: "#817c6e" }
};

export default {
  data() {
    return {
      server_url: "/api/photo",
      status: "loading",
      image_loading: false,
      colors_list: colors_list,
      error: false,
      id: "c1e7f81f-9632-4bba-9b57-e3e19b99740f",
      current_image: "",
      active_mode: "two_x_two",
      modes: {
        single: {
          title: "Single",
          items: 1,
          items_in_row: 1,
          colors: [],
          active_color: 0
        },
        two_x_two: {
          title: "2×2",
          items: 4,
          items_in_row: 2,
          colors: [],
          active_color: 0
        },
        three_x_three: {
          title: "3×3",
          items: 9,
          items_in_row: 3,
          colors: [],
          active_color: 0
        }
      }
    };
  },    
  created: function() {
    this.status = 'ready';
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();

      $(".js-choose-photo").on("click", function(event) {
        $("#photo_input").click();
        event.stopPropagation();
      });
    });
  },
  beforeMount: function() {
    var colors = Object.keys(this.colors_list).slice(0, 9),
      color = "";

    for (var mode in this.modes) {
      if (this.modes.hasOwnProperty(mode)) {
        for (var i = 0; i < this.modes[mode].items; i++) {
          do {
            color = colors[Math.floor(Math.random() * colors.length)];
          } while (this.modes[mode].colors.indexOf(color) !== -1);

          this.modes[mode].colors.push(color);
        }
      }
    }
    this.current_image = this.getImgURL();
  },
  methods: {
    imageChanged: function(event) {
      this.getId(event.target.files[0]);
      event.target.value = "";
      event.target.type = "file";
    },
    setMode: function(mode) { 
      let vm = this;
      this.refreshImage(this.modes[mode], function() {
        vm.active_mode = mode;
      });
    },
    
    setModeActiveColor: function(mode_name, index) {
      this.modes[mode_name].active_color = index;
    },

    setModeColor: function(color_key) {
      this.modes[this.active_mode].colors[
        this.modes[this.active_mode].active_color
      ] = color_key;
      this.refreshImage(this.modes[this.active_mode]);
    },

    getImgURL: function(mode) {
      mode = mode || this.modes[this.active_mode];
      return (
        this.server_url +
        "?id=" +
        this.id +
        "&token=" +
        localStorage.token +  
        "&params=" +
        encodeURIComponent(JSON.stringify(mode.colors))
      );
    },
    getId: function(photo_file) {
      this.error = false;
      this.status = "loading";

      var form_data = new FormData();
      form_data.append("photo", photo_file);

      let vm = this;

      axios
      .post(this.server_url, form_data, { headers: { Authorization: `Bearer: ${localStorage.token}` }})
      .then(response => {
        vm.id = response.data;
        vm.refreshImage(vm.modes[this.active_mode]);
        vm.status = "ready";
      }).catch(error =>{
        vm.error_message = error;
        vm.error = true;
        vm.status = "ready";
      })

    },
    refreshImage: function(mode, callback) {
      this.error = false;
      var img = new Image(),
        currentRetry = 0,
        max_retry = 150,
        img_url = this.getImgURL(mode);

      let vm = this;
      img.onload = function() {
        vm.current_image = img.src;
        if (callback) {
          callback();
        }
        vm.image_loading = false;
      };
      

      img.onerror = function() {
        if (currentRetry < max_retry) {
          currentRetry++;
          setTimeout(function() { img.src = img_url }, 1000);
          axios.get(img_url).catch(error =>{
            if (error.response.status == 500){
              max_retry = 0;
            }
          })
         } else {
          vm.error = true;
          vm.error_message =
            "Image not found due to the fact that it was not processed";
          vm.image_loading = false;
        }
      };
      this.image_loading = true;
      img.src = img_url;
    }
  }
};
</script>

