<!-- components/Header.vue -->
<template>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">  
      <router-link to="/" class="navbar-item">
       </router-link>
      <div v-if="isAuthenticated" class="navbar-item">
        You are logged in!
      </div>
      <router-link v-if="!isAuthenticated" to="/login" class="navbar-item">
        Login
      </router-link>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>

<style>
</style>
