<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title">Hair Changer</h2>
          <router-link :to="`hair/`" class="card-footer-item">Open App</router-link>
          <router-link :to="`results/`" class="card-footer-item">Results</router-link>
          <a href="#" v-on:click="runHigload()" class="card-footer-item">Run Highload Test</a>
        </div>
      </div>
    </section>
  </div>
</template>



<script>
import axios from 'axios'

export default {
  methods: {
    runHigload: function() {
      axios
      .get('/api/highload/', { headers: { Authorization: `Bearer: ${localStorage.token}` } })
    },
  }
};
</script>
