<!-- components/Login.vue -->
<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title">Login</h2>
          <p class="subtitle error-msg">{{ errorMsg }}</p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="field">
          <label class="label  is-large" for="username">Username:</label>
          <div class="control">
            <input type="username" class="input is-large" id="username" v-model="username">
          </div>
        </div>
        <div class="field">
          <label class="label  is-large" for="password">Password:</label>
          <div class="control">
            <input type="password" class="input is-large" id="password" v-model="password">
          </div>
        </div>

        <div class="control">
          <a class="button is-large is-primary" @click="authenticate">Login</a>
        </div> 

      </div>
    </section>

  </div>
</template>

<script>
import { EventBus } from '@/utils'

export default {
  data () {
    return {
      username: '',
      password: '',
      errorMsg: ''
    }
  },
  methods: {
    authenticate () {     
      this.$store.dispatch('login', { username: this.username, password: this.password })
        .then(() => window.location.href = '/')
    },
    register () {
      this.$store.dispatch('register', { username: this.username, password: this.password })
        .then(() =>  window.location.href = '/')
    }
  },
  mounted () {
    EventBus.$on('failedRegistering', (msg) => {
      this.errorMsg = msg                 
    })
    EventBus.$on('failedAuthentication', (msg) => {
      this.errorMsg = msg
    })
  },
  beforeDestroy () {
    EventBus.$off('failedRegistering')
    EventBus.$off('failedAuthentication')
  }
}
</script>

<style lang="scss">
.error-msg {
  color: red;
  font-weight: bold;
}
</style>
