<template>
  <div class="container rounded px-0">
    <div style="text-align:center; padding: 100px 0">
      <h3>Number of photos: {{ count }}</h3>
      <h3>Time to create tasks: {{ time }}</h3>
      <h3>Time spent on all tasks: {{ total_time }}</h3>
      <div style="display: inline-block;">
        <table class="rwd-table">
          <tr>
            <th>#</th>
            <th>Link</th>
            <th>Task id</th>
            <th>Time spent</th>
            <th>State</th>
            <th>Error</th>
          </tr>
          <tr v-for="result in results" v-bind:key="result.num">
            <td>{{ result.num }}</td>
            <td>
              <a :href="'/api/photo?id=' + result.id + '&params=%5B%22BLUE%22%2C%22RED%22%2C%22PINK%22%2C%22WHITE2%22%5D&small=true' + '&token=' + token">
                <img
                  width="50px"
                  :src="'/api/photo?id=' + result.id + '&params=%5B%22BLUE%22%2C%22RED%22%2C%22PINK%22%2C%22WHITE2%22%5D&small=true' + '&token=' + token"
                  alt="Expired">
              </a>
            </td>
            <td>{{ result.id }}</td>
            <td>{{ result.time }}</td>
            <td>{{ result.state }}</td>
            <td>{{ result.error }}</td>
          </tr>
        </table>
        <a style="padding: 50px;" href="#" v-on:click="clearResults()">Clear results</a>
      </div>
    </div>
  </div> 
</template>

<script>
import axios from 'axios'

export default {
  data() {         
    return {
      results: null,
      time: null,
      total_time: null,
      count: null,
      token: null
    };
  },
  created: function() {
    axios
      .get('/api/results/', { headers: { Authorization: `Bearer: ${localStorage.token}` } })
      .then(response => {
        this.results = response.data.results;
        this.time = response.data.time;
        this.total_time = response.data.total_time;
        this.count = response.data.count;
        this.token = localStorage.token;
      })
  },
  methods: {
    clearResults: function(event) {
      axios
      .get('/api/results/?action=clear', { headers: { Authorization: `Bearer: ${localStorage.token}` } })
    },
  }
};
</script>
